<form [formGroup]="roundForm" (ngSubmit)="onSubmit()">

  <!-- <strong>
    {{roundForm.get('name')}}
  </strong> -->

  Persons:
  <div formArrayName="persons">
    <ng-container *ngFor="let person of persons.controls; let indexPerson=index">
      <div [formGroupName]="indexPerson">
        <input type="text" formControlName="name"> <br>
        <input type="text" formControlName="hc">

        <ng-container formGroupName="holes">
          <ng-container *ngFor="let hole of holes.controls; let indexHole=index" [formGroupName]="indexHole">
            <input type="text" [formControlName]="'score'">
          </ng-container>
        </ng-container>

        <button (click)="removePerson(indexPerson)">Remove</button>
      </div>
    </ng-container>
  </div>
  <button type="submit">Submit</button>
</form>

<button type="button" (click)="addPerson()">Add</button>

<pre>{{this.roundForm.value | json}}</pre>
